[submodule "dnsmasq"]
	path = dnsmasq
	url = git@gitlab.ii.org.nz:iichip/dnsmasq.git
	branch = resin
[submodule "atftpd"]
	path = atftpd
	url = git@gitlab.ii.org.nz:iichip/atftpd.git
	branch = resin
[submodule "Chef"]
	path = Chef
	url = git@gitlab.ii.org.nz:iichip/Chef.git
	branch = Docker-Hanlon
[submodule "chef-provisioning-k8s"]
	path = chef-provisioning-k8s
	url = git@gitlab.ii.org.nz:iichip/chef-provisioning-k8s.git
